
body {
		background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
		font-weight: 400;
    overflow-x: hidden;
}


/*---------------------------------------
    Typography              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h1 {
    font-size: 62px;
    padding-bottom: 16px;
    margin-bottom: 0px;
}

h2 {
  font-size: 32px;
  line-height: 46px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
}

h5 {
  color: #777;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;  
}

p {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
}

strong {
  font-weight: 400;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #333;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#portfolio,
#about,
#blog,
#contact,
#single-project,
#blog-single-post {
  padding-top: 80px;
  padding-bottom: 120px;
}

.section-title {
  position: relative;
  padding-bottom: 62px;
  text-align: center;
}

.section-title h3 {
  color: #555;
  font-weight: 400;
  letter-spacing: 4px;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #bdc3c7;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    padding: 18px 0;
    border: none;
    margin-top: 62px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default .navbar-brand {
  padding-top: 6px;
}

.navbar-default .site-title-text {
  /*margin-top: 36px;*/
  padding-top:12px;
  color: #000000;
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  /*line-height: 1.4em;*/
  letter-spacing: .24em;
  text-transform: capitalize;
}

.navbar-default .navbar-brand .fa {
  color: #000;
  font-size: 42px;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #333 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #333;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: #bdc3c7;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

#home hr {
  width: 82px;
  margin-top: 32px;
}



/*---------------------------------------
   About section              
-----------------------------------------*/

#about .text-center {
  padding-bottom: 42px;
}

#about .col-md-8 {
  padding-left: 0px;
}

/*#about .col-md-8 img {
  padding-right: 22px;
  padding-bottom: 22px}*/

#about hr {
  width: 100px;
  margin-top: 42px;
  margin-bottom: 42px;
}

#about ul {
  padding-left: 22px;
}

#about ul li {
  color: #777;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
}


/*---------------------------------------
   Portfolio section              
-----------------------------------------*/

#portfolio small {
  color: #f0f0f0;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#portfolio .portfolio-thumb {
  position: relative;
  padding: 0;
  margin-top: 32px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
  position: absolute;
  background: #222;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: top;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-caption {
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}

#portfolio .portfolio-item .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .text-center {
  padding-top: 62px;
}

#portfolio .isotope-item {
        z-index: 2;
    }
    #portfolio .isotope-hidden.isotope-item {
        z-index: 1;
    }
    #portfolio .isotope, .isotope .isotope-item {/* change duration value to whatever you like */
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }
    #portfolio .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        transition-property: height, width;
    }
    #portfolio .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property:-moz-transform, opacity;
        transition-property:transform, opacity;
    }

#portfolio .portfolio-wrapper ul.filter{
        list-style: none;
        font-family: 'Work Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 0;
        margin-bottom: 35px;
        margin-top: 0px;
        overflow: hidden;
    }

#portfolio .portfolio-wrapper ul.filter li{
        float: left;
        text-transform: uppercase;
        margin-right: 25px;
        font-weight: 400;
    }

#portfolio .portfolio-wrapper ul.filter li a{
        color: #909090;
    }

#portfolio .portfolio-wrapper ul.filter li a:hover,
#portfolio .portfolio-wrapper ul.filter li a.active{
        color: #000;
    }

#portfolio .portfolio-wrapper .portfolio-items{
        clear: both;
    }

#portfolio .portfolio-wrapper .portfolio-link{
    position: relative;
    margin-bottom: 24px;
}


/*---------------------------------------
   Single Project section              
-----------------------------------------*/

#single-project {
  text-align: center;
}

#single-project .col-md-12,
#single-project .col-md-6,
#single-project .col-md-4 {
  padding-left: 0px;
  padding-bottom: 22px;
}

#single-project .col-md-12 {
  padding-top: 42px;
}

#single-project .col-md-12 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height:auto;
    display: block;

}

#single-project img::-moz-selection {
    background: 0 0;
    z-index:-1;
}

#single-project strong {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

#single-project p a {
  color: #222;
  font-weight: 400;
  letter-spacing: 0px;
  padding-left: 0px;
}

#single-project a {
  color: #222;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 14px;
}

#single-project h5 {
  text-align: center;
}

#single-project p {
  text-align: left;
}

#single-project li {
  text-align: left;
}

/*CAROUSEL*/
.concept-carousel-left, 
    .concept-carousel-right {    
        background-color: #f0f0f0;
        color:#000;
        font-size: 32px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 32px;
        z-index: 999;
        -webkit-transition: 1000ms;
        -moz-transition: 1000ms;
        -o-transition: 1000ms;
        -ms-transition: 1000ms;
        transition: 1000ms;
    }

    .concept-carousel-left {
        left:0px;
    }

    .concept-carousel-right {
        right:0px;
    }

    #concept-carousel .item img{
        width: 100%;
    }

.screen-carousel-left, 
    .screen-carousel-right {    
        background-color: #f0f0f0;
        color:#000;
        font-size: 32px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 32px;
        z-index: 999;
        -webkit-transition: 1000ms;
        -moz-transition: 1000ms;
        -o-transition: 1000ms;
        -ms-transition: 1000ms;
        transition: 1000ms;
    }

    .screen-carousel-left {
        left:0px;
    }

    .screen-carousel-right {
        right:0px;
    }

    #screen-carousel .item img{
        width: 100%;
    }


#single-project .slides-carousel-left, 
    .slides-carousel-right {    
        background-color: #f0f0f0;
        color:#000;
        font-size: 32px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 32px;
        z-index: 999;
        -webkit-transition: 1000ms;
        -moz-transition: 1000ms;
        -o-transition: 1000ms;
        -ms-transition: 1000ms;
        transition: 1000ms;
    }

    .slides-carousel-left {
        left:0px;
    }

    .slides-carousel-right {
        right:0px;
    }

    #slides-carousel .item img{
        width: 100%;
    }


/*---------------------------------------
   Client section              
-----------------------------------------*/

#clients img {
    margin: 50px auto;
    margin-bottom: 135px;
}

#clients hr {
  width: 100px;
  margin-top: 42px;
  margin-bottom: 42px;
}

/*---------------------------------------
   Contact section              
-----------------------------------------*/

#contact .col-md-6,
#contact .col-md-12 {
  padding-left: 0px;
}

#contact .form-control {
  border: 1px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #777;
}

#contact input,
#contact select {
  height: 50px;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #000;
}



/*---------------------------------------
   Blog section              
-----------------------------------------*/

.blog-post-thumb {
  border-bottom: 1px solid #f0f0f0;
  padding-top: 32px;
  padding-bottom: 62px;
  margin-bottom: 32px;
}

.blog-post-thumb:last-child {
  border-bottom: 0px;
  padding-bottom: 32px;
  margin-bottom: 0px;
}

.blog-post-image {
  padding-bottom: 18px;
  width: 100%;
}

.blog-post-title a {
  color: #555;
}

.blog-post-title a:hover {
  color: #000;
}

.blog-post-format {
  padding-bottom: 22px;
}

.blog-post-format span {
  letter-spacing: 0.5px;
  padding-right: 12px;
}

.blog-post-format span a {
  color: #333;
}

.blog-post-format span img {
  display: inline-block;
  width: 42px;
  margin-right: 4px;
}

.blog-post-des blockquote {
  margin: 22px;
}

.blog-post-des .btn {
  border-radius: 100px;
  color: #777;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 14px 28px;
  margin-top: 26px;
  transition: all 0.4s ease-in-out;
}

.blog-post-des .btn:hover {
  background: #000;
  border-color: transparent;
  color: #ffffff;
}

.blog-author {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.blog-author .media img {
  display: inline-block;
  width: 90px;
  margin-right: 12px;
}

.blog-author .media a,
.blog-comment .media h3 {
  color: #444;
  font-size: 18px;
  letter-spacing: 1px;
}

.blog-comment {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 32px;
  margin-bottom: 42px;
}

.blog-comment .media:nth-child(3) {
  padding-top: 18px;
}

.blog-comment .media img {
  width: 80px;
  margin-right: 12px;
}

.blog-comment .media h3 {
  display: inline-block;
  padding-right: 14px;
}

.blog-comment h3,
.blog-comment-form h3 {
  padding-bottom: 18px;
}

.blog-comment-form .col-md-4 {
  padding-left: 0px;
}

.blog-comment-form .form-control {
  box-shadow: none;
  border: 1px solid #f0f0f0;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

.blog-comment-form .form-control:hover {
  border-color: #777;
}

.blog-comment-form input {
  height: 45px;
}

.blog-comment-form input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}

.blog-comment-form input[type="submit"]:hover {
  background: #000;
  border-color: transparent;
}



/*---------------------------------------
   Blog Single Post section              
-----------------------------------------*/

#blog-single-post .blog-post-des h3 {
  padding-top: 16px;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    border-top: 1px solid #f0f0f0;
    padding: 100px 0px;
    position: relative;
}

footer .col-md-6 .fa {
  font-size: 24px;
}

footer a {
  color: #555;
}

footer hr {
  border-color: #ffffff;
  margin-top: 42px;
  margin-bottom: 0px;
}

footer .footer-copyright {
  padding-top: 0px;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: right;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #777;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0px 12px 10px 12px;
}

.social-icon li a:hover {
    color: #000;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/


@media (max-width: 767px) {

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 22px;
  }

  .section-title h2 {
    font-size: 22px;
    line-height: 35px;
  }

  .navbar-default {
    margin-top: 0px;
    text-align: center;
  }

  #about .col-md-8 img {
    padding-right: 0px;
  }

/*  #about .image-responsive img{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
  }*/

  #blog-single-post .blog-post-title h2 {
    font-size: 29px;
    line-height: 40px;
  }

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    padding-top: 42px;
  }

}

/* -------------------------------- 

Horizontal Timeline - Primary

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

.cd-horizontal-timeline html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  /*color: #383838;
  background-color: #f8f8f8;*/
}

.cd-horizontal-timeline ol, ul {
  list-style: none;
}


.cd-horizontal-timeline a {
  color: #222;
  text-decoration: none;
}

/* -------------------------------- 

Horizontal Timeline - Main Components 

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #ffffff, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #ffffff, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #ffffff, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #ffffff, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7b9d6f;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #7b9d6f;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-size: 2.6rem;
  font-family: "Lato", serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: normal;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
/*  content: '- ';
*/}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #777;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 1.8rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.6rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}


